::-webkit-input-placeholder {
    color: #6B7570;
}
:-moz-placeholder {
   color: #6B7570;
   opacity:  1;
}
::-moz-placeholder {
   color: #6B7570;
   opacity:  1;
}
:-ms-input-placeholder {
   color: #6B7570;
}

html{
	  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #F2F2F2;
}

div{
	-webkit-box-sizing: border-box; 
 	-moz-box-sizing: border-box;    
 	box-sizing: border-box;  
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

*{
	padding: 0;
}

.create_wrapper{
	background-color: #FFF;
}

#ques{
	height: auto;
	background-color: #FFF;
}

.survey_title_wrapper{
		background-color: #F6F6F6;
	}

.survey_title{
	background-color: #C7C9C8;
}

.question{
	background-color: #F6F6F6;
}

.survey_title input{
	width: 150px;
	background-color: #C7C9C8;
	margin: 0;
	padding: 0;
	border-style: none;
	font-weight: bold;
}

.question textarea{
	width: 100%;
	background-color: #C7C9C8;
	margin: 0;
	padding: 0;
	border-style: none;
}

.question select{
	border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.essay td{
	width: 50px;
}

.choice input{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	border-style: none;
}

.option_addition{
	background-color: #00F;
	text-align: center;
	color: #FFF;
}

.addition{
	background-color: #6B7570;
	text-align: center;
	color: #FFF;
}

/*PC*/
@media (min-width: 1064px){

	.create_wrapper{
		width: 1064px;
		margin: 0 auto;
	}

	#ques{
		width: 1064px;
		margin:0 auto;
		margin-top: 44px;
	}

	#ques a{
		cursor: pointer;
	}

	.survey_title_wrapper{
		width: 1064px;
		position: relative;
		height: 100px;
		margin-top: 16px;
	}

	.survey_title{
		font-size: 32px;
		width: 964px;
		height: 56px;
		margin: 20px 26px;
		padding: 0 22px;
		background-color: #FFF;
	}

	.survey_title:focus{
		border:#00f 2px solid;
	}

	.survey_subtitle_wrapper{
		width: 1064px;
		position: relative;
		height: 50px;
	}

	.survey_subtitle{
		font-size: 24px;
		width: 964px;
		height: 26px;
		padding: 12px 48px;
		background-color: #FFF;
		border: none;
		color: #9A9A9A;
	}
	.survey_subtitle:focus{
		border:#00f 2px solid;
	}

	.question{
		width: 1064px;
		height: auto;
		padding: 48px;
	}

	.question tbody tr{
		height: 50px;
	}

	.question tbody tr td{
		font-size: 20px;
	}

	.question_title{
		font-size: 20px;
	}

	.question tbody tr td input[type="text"]{
		height: 30px;
	}

	.question span{
		width: 120px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		background-color: #0F0;
	}
	.question input[type="text"]{
	height: 30px;
	width: 590px;
	font-size: 18px;
	line-height: 30px;
	margin:0;
	padding: 0;
	}

	.question textarea{
	width: 590px;
	font-size: 18px;
	line-height: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	}

	.question select{
		padding: 0 8px;
    	box-shadow: none;
    	background: transparent;
    	background-image: none;
    	-webkit-appearance: none;
		height: 30px;
		font-size: 12px;
		line-height: 30px;
	}

	.question select:focus{
		outline: none;
	}

	.choice input{
	margin-top: 5px;
	font-size: 15px;
	}

	.option_addition{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border-radius: 10px;
	}



	.submit{
	width: 100px;
	height: 40px;
	margin-top:28px;
	border: 1px solid #000;
	line-height: 40px;
	font-size: 18px;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	background-color: #FF3900;
	}

	.addition{
	width: 100px;
	height: 40px;
	margin:28px 48px;
	border: 1px solid #000;
	line-height: 40px;
	font-size: 18px;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	background-color: #FF3900;
	}

	.complete{
	width: 100px;
	height: 40px;
	margin:28px 48px;
	border: 1px solid #000;
	line-height: 40px;
	font-size: 18px;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	background-color: #FF3900;
	}

	.question_survey{
		width: 1064px;
		position: relative;
		padding: 48px 48px;
	}

	.question_survey h2{
		font-size: 20px;
		margin: 0;
	}

	.question_survey h3{
		margin: 0;
		color: #9B9B9B;
		font-size: 20px;
	}

	.question_survey table{
		margin: 0;
		margin-top: 22px;
		font-size: 20px;
	}

	.question_survey form input[type="radio"]{
		width: 20px;
		height: 20px;
		border-radius: 0;
	}

	.question_survey form input[type="text"]{
		width: 200px;
		height: 20px;
	}
}

/*mobile*/
@media (max-width: 768px){
	.container{
		width: 100%;
		height: 100%;
	}

	.top{
		height: 70px;
	}

	.back_btn{
		width: 20%;
		height: 50px;
		
	}

	.back_btn{
		width: 15%;
		height: 40px;
		margin: 5px 2.5%;

	}
	.title{
		width: 60%;
		height: 50px;
		float: left;
		line-height: 50px;
		font-size: 25px;
	}



	.user{
		width: 50%;
		height: 20px;
		padding-left: 10px;
		line-height: 20px;
		font-size: 13px;
	}

	.point{
		width: 50%;
		height: 20px;
		padding-right: 10px;
		line-height: 20px;
		font-size: 13px;
	}
	
	#ques{
		width:100%;
		margin-top: 20px;
	}



	.survey_title{
		padding: 10px;
	}

	.survey_title input{
	height: 30px;
	font-size: 15px;
	}

	.question{
		margin-top: 10px;
		padding: 10px;
	}

	.question input{
		margin-top: 5px;
	height: 30px;
	font-size: 12px;
	}

	.option_addition{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border-radius: 5px;
	}

	.addition{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border-radius: 5px;
	}

}
