@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
html span {
    font-family: 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, '굴림', gulim, applegothic, sans-serif;
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}
.service_logo-sprite {
    background: url(https://d12hfz37g51hrt.cloudfront.net/assets/service_logo-s7e9ca9cdda-d72e40b3c5c3a5f68de7b327f3285cc3.png) no-repeat
}
.icons-sprite {
    background: url(https://d12hfz37g51hrt.cloudfront.net/assets/icons-s88a0c27ba3-60fcdb2254b1efd18e6840d2ffdd85f6.png) no-repeat
}
html,
body {
    background-color: #e5e5e5;
    letter-spacing: -1px;
    min-height: 100%
}
html,
input,
textarea {
    font-family: 'Apple SD Gothic Neo', '나눔고딕', NanumGothic, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, '굴림', gulim, applegothic, sans-serif
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer
}
.clear {
    clear: both
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
* {
    -webkit-font-smoothing: antialiased;
}
.modal-measure-scrollbar {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -300px;
    left: -300px;
    overflow: scroll;
    overflow-y: scroll
}
.modal-measure-scrollbar .inner {
    height: 200px
}
#canvasloader-container {
    text-align: center;
    margin: 20px 0
}
#canvasloader-container #canvasLoader {
    margin: 0 auto
}
.popup-involve-movies {
    cursor: pointer
}
@keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 100%
    }
}
@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 100%
    }
}
@-ms-keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 100%
    }
}
@-moz-keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 100%
    }
}
html,
body {
    min-height: 100%;
    height: 100%
}
body.intro {
    height: 100%;
    min-width: 800px
}
body.intro #contents {
    height: 100%
}
body.intro .bg {
    background-image: url(../img/bg.jpeg);
    background-size: 100%;
    background-position: 0 100%;
    height: 100%;
    animation: animatedBackground 40s linear;
    -ms-animation: animatedBackground 40s linear;
    -moz-animation: animatedBackground 40s linear;
    -webkit-animation: animatedBackground 40s linear;

    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
body.intro .bg-alpha {
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
body.intro .bg-alpha.inner {
    z-index: 1;
    /*margin-left: 20px;*/
    width: 760px;
    height: 560px;
    padding:20px;
    /*margin-top: 10px;*//*
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px*/
}
body.intro .content {
    width: 760px;
    height: 560px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -380px;
    margin-top: -280px;
    text-align: center;
    padding: 20px
}
body.intro .content .content-wrapper {
    position: relative;
    z-index: 10000
}
body.intro .content .content-wrapper .logo {
    margin-top: 44px
}
body.intro .content .content-wrapper .service-msg {
    font-size: 16px;
    line-height: 24px;
    color: white;
    display: block
}
body.intro .content .content-wrapper .login {
    font-size: 16px;
    line-height: 24px;
    color: white
}
body.intro .content .content-wrapper .login a {
    color: red
}
body.intro .content .content-wrapper .buttons-wrapper .fb-join {
    border: #4969F0;
    background-color: #4969F0;
    width: 220px;
    height: 50px;
    margin-left: 270px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}
body.intro .content .content-wrapper .buttons-wrapper .fb-join a {
    color: white;
    font-size: 14px
}
body.intro .content .content-wrapper .buttons-wrapper .fb-join a .fb-join-image {
    position: absolute;
    margin-left: 22px;
    margin-top: 13px
}
body.intro .content .content-wrapper .buttons-wrapper .fb-join a .fb-join-text {
    position: absolute;
    margin-top: 20px;
    margin-left: 50px
}
body.intro .content .content-wrapper .buttons-wrapper .mail-join {
    border: 1px solid white;
    width: 220px;
    height: 50px;
    margin-left: 270px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}
body.intro .content .content-wrapper .buttons-wrapper .mail-join a {
    color: white;
    font-size: 14px
}
body.intro .content .content-wrapper .buttons-wrapper .mail-join a .mail-join-image {
    position: absolute;
    margin-left: 22px;
    margin-top: 17px
}
body.intro .content .content-wrapper .buttons-wrapper .mail-join a .mail-join-text {
    position: absolute;
    margin-top: 20px;
    margin-left: 60px
}
body.intro .left-bottom {
    position: absolute;
    left: 10px;
    bottom: 10px;
    margin-left: 20px
}
body.intro .left-bottom img {
    margin-left: 15px
}
body.intro .left-bottom .rating-count {
    font-size: 16px;
    color: white;
    margin-left: 12px
}
body.intro .app-download-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px
}
body.intro .app-store {
    margin-left: 10px;
    margin-right: 5px
}


#contents .login_background{
    background: url(../img/login_bg.JPG);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#simple_logo_header {
    width: 100%;
    position: absolute;
    z-index: 10;
    margin-top: 30px;
}

#simple_logo_header .logo_container {
    width:100%;
    margin: 0 auto;
}


.movable {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.movable .table_center {
    display: table-cell;
    vertical-align: middle;
}

.ham_box {
    position: relative;
    margin: 0 auto;
    width: 300px;
}


.ham_box .title {
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    height: 16px;
    text-align: center;
    border: solid 1px #fff;
    padding: 16px 0;
    line-height: 16px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    cursor: default;
}

.ham_box .no_top_radius {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    padding: 20px 30px 20px 30px;
}


.ham_box .content_ham {
    padding: 20px 30px 20px 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-color: #eeeeee;
}


.ham_box .content_ham .input_form {
    width: 240px;
}

.ham_box .content_ham .input_form .box_wrapper {
    height: 40px;
    position: relative;
    border: solid 1px #dddddd;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ham_box .content_ham .input_form .box_wrapper .joinbox {
    background-color: white;
    display: block;
    padding: 23px 0 13px 10px;
    margin: 0;
    height: 22px;
    font-size: 14px;
    text-shadow: 0px 1px #fff;
    border: 0 none;
    width: 237px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #555;
}


.ham_box .content_ham .input_form .box_wrapper label {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.ham_box .content_ham .input_form .box_wrapper .validation_check {
    position: absolute;
    background-image: url(https://d12hfz37g51hrt.cloudfront.net/assets/join_login/join_check_off-cb912e33dae28ea1f6f65b147959ed11.png);
    width: 16px;
    height: 12px;
    top: 17px;
    right: 9px;
}

.ham_box .content_ham .btn_join.disable, .ham_box .content_ham .btn_login.disable {
    cursor: default;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8400), color-stop(100%, #ff7400));
    background: -webkit-linear-gradient(#ff8400,#ff7400);
    background: -moz-linear-gradient(#ff8400,#ff7400);
    background: -o-linear-gradient(#ff8400,#ff7400);
    -pie-background: linear-gradient(#ff8400,#ff7400);
    background: linear-gradient(#ff8400,#ff7400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#ff7400');
    border: solid 1px #ff7400;
}



.ham_box .content_ham .btn_join, .ham_box .content_ham .btn_login {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8400), color-stop(100%, #ff7400));
    background: -webkit-linear-gradient(#ff8400,#ff7400);
    background: -moz-linear-gradient(#ff8400,#ff7400);
    background: -o-linear-gradient(#ff8400,#ff7400);
    -pie-background: linear-gradient(#ff8400,#ff7400);
    background: linear-gradient(#ff8400,#ff7400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#ff7400');
    border: solid 1px #ff7400;
}


.ham_box .content_ham .btn_fb_join, .ham_box .content_ham .btn_join, .ham_box .content_ham .btn_login {
    display: block;
    text-decoration: none;
    text-indent: 40px;
    float: left;
    width: 238px;
    height: 58px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    line-height: 58px;
    text-indent: 59px;
    text-align: center;
    color: white;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transition: all 0.5s;


}

.ham_box .content_ham .btn_join.disable .email_fake_btn, .ham_box .content_ham .btn_login.disable .email_fake_btn {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7000), color-stop(100%, #ff6000));
    background: -webkit-linear-gradient(#ff7000,#ff6000);
    background: -moz-linear-gradient(#ff7000,#ff6000);
    background: -o-linear-gradient(#ff7000,#ff6000);
    -pie-background: linear-gradient(#ff7000,#ff6000);
    background: linear-gradient(#ff7000,#ff6000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7000', endColorstr='#ff6000');
}


.ham_box .content_ham .btn_join .email_fake_btn, .ham_box .content_ham .btn_login .email_fake_btn {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7000), color-stop(100%, #ff6000));
    background: -webkit-linear-gradient(#ff7000,#ff6000);
    background: -moz-linear-gradient(#ff7000,#ff6000);
    background: -o-linear-gradient(#ff7000,#ff6000);
    -pie-background: linear-gradient(#ff7000,#ff6000);
    background: linear-gradient(#ff7000,#ff6000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7000', endColorstr='#ff6000');
}

.ham_box .content_ham .btn_fb_join .facebook_fake_btn, .ham_box .content_ham .btn_fb_join .email_fake_btn, .ham_box .content_ham .btn_join .facebook_fake_btn, .ham_box .content_ham .btn_join .email_fake_btn, .ham_box .content_ham .btn_login .facebook_fake_btn, .ham_box .content_ham .btn_login .email_fake_btn {
    background-repeat: no-repeat;
    background-position: center center;
    width: 59px;
    height: 100%;
    margin-top: -58px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
}


.ham_box .content_ham .comment_top {
    cursor: default;
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    color: #aaa;
}

.ham_box .content_ham .comment_top a {
    text-decoration: underline;
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: #aaa;
}

.box_wrapper .radio_title{
    background-color: white;
    display: inline-block;
    padding: 18px 0 0px 10px;
    margin: 0;
    height: 20px;
    font-size: 14px;
    text-shadow: 0px 1px #fff;
    border: 0 none;
    width: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #555;
}

.box_wrapper .radio_option{
    padding-right:1px;
    padding-left:1px;
    color: #555;
    text-shadow: 0px 1px #fff;
    font-size:12px;
    
}
