<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href="{{url_for('static',filename='css/common.css')}}">
	<link rel='stylesheet' type='text/css'  href="{{url_for('static',filename='css/create.css')}}">
	<script src='{{url_for("static",filename="js/jquery-1.9.1.min.js")}}'></script>
	<script type="text/javascript">
	$(document).ready(function(){
		
		$(document).on("click", '.submit',function()
		{
			var pathname = window.location.pathname;

			var title = $(this).parents('tbody').children('.question_title').find('td input').val();
			var subtitle = $(this).parents('tbody').children('.question_subtitle').find('td input').val();
			var type = $(this).parents('tbody').children('.select').find('td select').val();
			var question_element = $(this).parents('.index_question');
			var index = $('.index_question').index(question_element);
			var option_list = $(this).parents('tbody').children(".option").find("input");
			var options=[];
			var i = i;
			console.log(option_list);
			if(title.length == 0){
				alert("모든 칸을 채워주세요");
				return;
			}
			option_list.each(function(index, item){
				options.push(option_list[index].value);
			});
			console.log(options);
			var question = { "index":index, "title":title, "subtitle":subtitle, "type":type, "option":options};

			$.ajax({ type: "POST", url: pathname.substring(0,pathname.length-4)+'tmpsave', data: JSON.stringify({"question": question }), contentType: "application/json; charset=utf-8", dataType: "json", success: getData, failure: function(errMsg) { alert("a");}});

			function getData(){
				var length;
				$.ajax({
				type:"GET",
				url:pathname.substring(0,pathname.length-4)+'tmpsave',
				data: JSON, contentType:"charset=utf-8;",
				dataType:"json",
				success:function(data){
					$('.question').remove();
					length=Object.keys(data.result).length;
					for(i in data.result){	
						if(data.result[i].type=="choice"){
							var str= '<div class="index_question"><div class="question-view"><h2>'+data.result[i].title+'</h2><h3>'+data.result[i].subtitle+'</h3><table><tbody>';
							for(j in data.result[i].option){
								str+='<tr><td><input type="radio" name="앙" value="앙"></td><td>'+data.result[i].option[j]+'</td></tr>'
							}
							str+='</tbody></table></div><div>';
						}
						else if(data.result[i].type=="multiple_choice"){
							var str= '<div class="index_question"><div class="question-view"><h2>'+data.result[i].title+'</h2><h3>'+data.result[i].subtitle+'</h3><table><tbody>';
							for(j in data.result[i].option){
								str+='<tr><td><input type="checkbox" name="앙" value="앙"></td><td>'+data.result[i].option[j]+'</td></tr>'
							}
							str+='</tbody></table></div></div>';
							
						}
						else{
							var str= '<div class="index_question"><div class="question-view"><h2>'+data.result[i].title+'</h2><h3>'+data.result[i].subtitle+'</h3><table><tbody><tr><td><input type="text" name="앙"></td></tr></tbody></table></div></div>';
						}
						$("#ques").append(str);
					}	
				}
			})}
			/*$.ajax({
				type:"GET",
				url:pathname.substring(0,pathname.length-4)+'tmpsave',
				data: JSON, contentType:"charset=utf-8;",
				dataType:"json",
				success:function(data){
					console.log(data);
				},
				error:function(request,status,error){
    			alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}
			})*/

			
		});

	
		$(document).on("click", '.complete',function()
		{
			var pathname = window.location.pathname;

			var title = $('.survey_title').val();
			var subtitle = $('.survey_subtitle').val();
			
			if(title.length == 0 | subtitle.length == 0 ){
				alert("모든 칸을 채워주세요");
				return;
			}
			$.ajax({ type: "POST", url: pathname.substring(0,pathname.length-4)+'register', data: JSON.stringify({"size": 0 ,"title":title,"subtitle":subtitle}), contentType: "application/json; charset=utf-8", dataType: "json", 
				success: function(data){
					if (data['result'] == 'success'){
						window.location.href='/main'
					}
					else if (data['result'] == 'q_shortage'){
						alert('큐가 부족합니다');
					}
				},
				failure: function(errMsg) { alert("a");}});

		});
		//질문추가
		$(document).on("change", '.addition select',function()
		{

			

			var valueSelected  = $(this).val();
		     if(valueSelected=="essay"){
		     	var question2 = "<div class='index_question'><table class='question'><tbody><tr class='question_title'><td>질문 제목</td><td><input type='text'></td></tr><tr class='question_subtitle'><td>도움말 텍스트</td><td><input type='text'></td></tr><tr class='select'><td>질문 유형</td><td><select><option value='essay'>주관식 질문</option><option value='choice'>객관식 질문</option><option value='multiple_choice'>객관식 질문(중복 응답)</option></select></td></tr><tr class='essay'><td colspan='2'><input type='text' value='답변'></td></tr><tr><td><input class='submit' type='button' value='완료''></td></tr></tbody></table></div>";
		     }
		     else if(valueSelected=='choice'){
		     	var question2 = "<div class='index_question'><table class='question'><tbody><tr class='question_title'><td>질문 제목</td><td><input type='text'></td></tr><tr class='question_subtitle'><td>도움말 텍스트</td><td><input type='text'></td></tr><tr class='select'><td>질문 유형</td><td><select><option value='choice'>객관식 질문</option><option value='multiple_choice'>객관식 질문(중복 응답)</option><option value='essay'>주관식 질문</option></select></td></tr><tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr><tr><td></td><td><span class='option_addition'></span></td></tr><tr><td><input class='submit' type='button' value='완료''></td></tr></tbody></table></div>";
		     }

		     else if(valueSelected=='multiple_choice'){
		     	var question2 = "<div class='index_question'><table class='question'><tbody><tr class='question_title'><td>질문 제목</td><td><input type='text'></td></tr><tr class='question_subtitle'><td>도움말 텍스트</td><td><input type='text'></td></tr><tr class='select'><td>질문 유형</td><td><select><option value='multiple_choice'>객관식 질문(중복 응답)</option><option value='choice'>객관식 질문</option><option value='essay'>주관식 질문</option></select></td></tr><tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr><tr><td></td><td><span class='option_addition'></span></td></tr><tr><td><input class='submit' type='button' value='완료''></td></tr></tbody></table></div>";
		     }

			$("#ques").append(question2);
			$(this).val("title");

		});

		$('.survey_title_wrapper input').focus(
		    function(){
		        $(this).parent('div').css('border-left','solid 8px #FF3900');
		        $(this).css('margin-left','18px');
		    }).blur(
		    function(){
		        $(this).parent('div').css('border-left','none');
		        $(this).css('margin-left','26px');
		    });

		/*$('.survey_title_wrapper input').hover(
		    function(){
		        $(this).parent('div').css('border-left','solid 8px #FF3900');
		        $(this).css('margin-left','18px');
		    }, function(){
		        $(this).parent('div').css('border-left','none');
		        $(this).css('margin-left','26px');
		    });*/

		    

		//객관식 <> 주관식 <> 중복객관식(요거는 객관식과 동일 처리하되, 설문참여시 차별을 두도록) <> 범위
		
		$(document).on("change", '.question select', function()
		{
		     var valueSelected  = $(this).val();
		     if(valueSelected=="essay"){
		     	$(this).parents('tr').nextAll(".option").remove();
		     	$(this).parents('tr').next().remove();
		     	var essay = "<tr class='essay'><td colspan='2'><input type='text' value='답변'></td></tr>";
		     	$(this).parents("tr").after(essay);

		     }
		     else if(valueSelected=='choice' || valueSelected=='multiple_choice'){
		     	$(this).parents('tr').next(".essay").remove();
		     	$(this).parents('tr').nextAll(".option").remove();
		     	if($(this).parents('tr').next().find("input").length==0)
		     		$(this).parents('tr').next().remove();
		     		
		     	var choice = "<tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr><tr>	<td></td><td><span class='option_addition'></span></td></tr>";
		     	$(this).parents("tr").after(choice);
		     }
 		});	

		//옵션추가
 		$(document).on("click", '.option_addition', function(){
			var option = "<tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr>";
			$(this).parents('tr').prev().after(option);
		});
	});

	</script>
</head>
<body>
	<div class="create_wrapper">
		<!--설문 하나 세트-->
		<form>
			<div id="ques">
				<div class="survey_title_wrapper">
					<input type ="text" class="survey_title" placeholder="설문제목을 입력하세요(텍스트입력)">
				</div>
				<div class="survey_subtitle_wrapper">
					<input type ="text" class="survey_subtitle" placeholder="설문지 설명">
				</div>
				<!--질문 1세트-->
				<div class="index_question">
				<table class="question">
					<tbody>
						<tr class="question_title">
							<td>질문 제목</td>
							<td><input type="text"></td>
						</tr>
						<tr class="question_subtitle">
							<td>도움말 텍스트</td>
							<td><input type="text"></td>
						</tr>
						<tr class="select">
							<td>질문 유형</td>
							<td><select>
								<option value="choice">객관식 질문</option>
								<option value="multiple_choice">객관식 질문(중복 응답)</option>
								<option value="essay">주관식 질문</option>
							</select></td>
						</tr>
						<tr class="option">
							<td></td>
							<td><input placeholder="옵션" type="text"></td>
						</tr>
						<tr>
							<td></td>
							<td><span class="option_addition"></span></td>	
						</tr>
						<tr>
							<td><input class="submit" type="button" value="완료"></td>
						</tr>
					</tbody>
				</table>
				</div>
				<!--<div class="question-view">
					<h2>질문 미리보기</h2>
					<h3>질문 설명 미리보기</h3>
					<table>
						<tbody>
								<tr>
									<tr><td><input type="text" name="앙"></td></tr>
								</tr>
									<tr>
										<td><input type="radio" name="앙" value="앙"></td>
										<td>옵션1</td>
									</tr>
									<tr>
										<td><input type="checkbox" name="당" value="앙"></td>
										<td>옵션1-1</td>
									</tr>
						</tbody>
					</table>
				</div>-->

				<!--
				<div class="question">
					<div><span>질문 제목</span><input type ="text">
					</div><br>
					<div><span>도움말 텍스트</span><textarea rows="1" col="10"></textarea></div><br>
					<span>질문 유형</span><select class="select"><option value="choice">객관식 질문</option><option value="essay">주관식 질문</option>
					<option value="multiple_choice">객관식 (중복응답)</option>
					<option value="range">점수 범위 선택</option></select>
					<div class="choice">
						<input type = "text" placeholder="옵션">
						<a><div class="option_addition">옵션추가
						</div></a>
					</div>
				</div>-->
			</div>
			<div class="addition">
			<select>
				<option value="title">항목추가</option>
				<option value="choice">객관식 질문</option>
				<option value="multiple_choice">객관식 질문(중복 응답)</option>	
				<option value="essay">주관식 질문</option>
			</select>
			</div>
			<a><div class="complete">설문지 완성</div></a>
		</form>
	</div>
		

</body>
</html>
