<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='../static/css/create.css'>
	<script src='../static/js/jquery-1.9.1.min.js'></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//질문추가
		$(document).on("click", '.addition',function()
		{
			var question = "<div class='question'><div><span>질문 제목</span><input type ='text'></div><br><div><span>도움말 텍스트</span><textarea rows='1' col='10'></textarea></div><br><span>질문 유형</span><select class='select'><option value='choice'>객관식 질문</option><option value='essay'>주관식 질문</option><option value='multiple_choice'>객관식 (중복응답)</option><option value='range'>점수 범위 선택</option></select><div class='choice'><input type = 'text'placeholder='옵션''><a href='#''><div class='option_addition'>옵션추가</div></a></div></div></div>";
			$("#ques").append(question);
		});

		//객관식 <> 주관식
		$(document).on("change", '.select', function()
		{
		     var valueSelected  = $(this).val();
		     if(valueSelected=="essay"){
		     	$(this).next().remove();
		     	var essay = "<div class='choice'><input type = 'text' placeholder='답변'></div>";
		     	$(this).parents(".question").append(essay);
		     }
		     else if(valueSelected=='choice' || valueSelected=='multiple_choice'){
		     	$(this).next().remove();
		     	var choice = "<div class='choice'><input type = 'text' placeholder='옵션'><a href='#'><div class='option_addition'>옵션추가</div></a></div>";
		     	$(this).parents(".question").append(choice);
		     }
 		});	

		//옵션추가
 		$(document).on("click", '.option_addition', function(){
			var option = "<input type = 'text' placeholder='옵션'>";
			$(this).parents('a').prepend(option);
		});
	});

	</script>
</head>
<body>
	<div class="create_wrapper">
		<!--설문 하나 세트-->
		<form>
			<div id="ques">
				<div class="survey_title_wrapper">
					<input type ="text" class="survey_title" placeholder="설문제목을 입력하세요(텍스트입력)">
				</div>
				<div class="survey_subtitle_wrapper">
					<input type ="text" class="survey_subtitle" placeholder="설문지 설명">
				</div>
				<!--질문 1세트-->
				<div class="question">
					<div><span>질문 제목</span><input type ="text">
					</div><br>
					<div><span>도움말 텍스트</span><textarea rows="1" col="10"></textarea></div><br>
					<span>질문 유형</span><select class="select"><option value="choice">객관식 질문</option><option value="essay">주관식 질문</option>
					<option value="multiple_choice">객관식 (중복응답)</option>
					<option value="range">점수 범위 선택</option></select>
					<div class="choice">
						<input type = "text" placeholder="옵션">
						<a href="#"><div class="option_addition">옵션추가
						</div></a>
					</div>
				</div>
			</div>
			<a href="#"><div class="addition">질문추가</div></a>
			<a href="#"><input type="submit" value="완료"></a>
		</form>


	</div>


</body>
</html>
