<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='{{url_for("static",filename="css/create.css")}}'>
	<script src='{{url_for("static",filename="js/jquery-1.9.1.min.js")}}'></script>
	<script type="text/javascript">
	$(document).ready(function(){
		
		$(document).on("click", '.submit',function()
		{
			var pathname = window.location.pathname;

			var title = $(this).parents('tbody').children('.question_title').find('td input').val();
			var subtitle = $(this).parents('tbody').children('.question_subtitle').find('td input').val();
			var type = $(this).parents('tbody').children('.select').find('td select').val();
			var question_element = $(this).parents('.question');
			var index = $('.question').index(question_element);
			var option_count = $(this).parents('tbody').children(".option").length;
			var options=[];
			var i = i;
			for(i=0; i<option_count; i++){
				options[i] = $(this).parents('tbody').children(".option").find('td input').eq(i).val();
			}
			var question = { "title":title, "subtitle":subtitle, "type":type, "option":options};

			$.ajax({ type: "POST", url: pathname.substring(0,pathname.length-4)+'tmpsave', data: JSON.stringify({"question": question }), contentType: "application/json; charset=utf-8", dataType: "json", success: function(data){ alert(data)}, failure: function(errMsg) { alert("a");}});

		});

	
		$(document).on("click", '.complete',function()
		{
			var pathname = window.location.pathname;

			var title = $('.survey_title').val();
			var subtitle = $('.survey_subtitle').val();
			
			$.ajax({ type: "POST", url: pathname.substring(0,pathname.length-4)+'register', data: JSON.stringify({"size": 0 ,"title":title,"subtitle":subtitle}), contentType: "application/json; charset=utf-8", dataType: "json", success: function(data){window.location.href=pathname.substring(0,pathname.length-4)+'result';}, failure: function(errMsg) { alert("a");}});

		});
		//질문추가
		$(document).on("click", '.addition',function()
		{

			var question2 = "<table class='question'><tbody><tr class='question_title'><td>질문 제목</td><td><input type='text'></td></tr><tr class='question_subtitle'><td>도움말 텍스트</td><td><input type='text'></td></tr><tr class='select'><td>질문 유형</td><td><select><option value='choice'>객관식 질문</option><option value='multiple_choice'>객관식 질문(중복 응답)</option><option value='essay'>주관식 질문</option></select></td></tr><tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr><tr><td></td><td><a class='option_addition'>옵션추가</a></td></tr><tr><td><input class='submit' type='button' value='완료''></td></tr></tbody></table>";

			var question = "<div class='question'><div><span>질문 제목</span><input type ='text'></div><br><div><span>도움말 텍스트</span><textarea rows='1' col='10'></textarea></div><br><span>질문 유형</span><select class='select'><option value='choice'>객관식 질문</option><option value='essay'>주관식 질문</option><option value='multiple_choice'>객관식 (중복응답)</option><option value='range'>점수 범위 선택</option></select><div class='choice'><input type = 'text'placeholder='옵션''><a><div class='option_addition'>옵션추가</div></a></div></div></div>";
			$("#ques").append(question2);

		});

		$('.survey_title_wrapper input').focus(
		    function(){
		        $(this).parent('div').css('border-left','solid 8px #FF3900');
		        $(this).css('margin-left','18px');
		    }).blur(
		    function(){
		        $(this).parent('div').css('border-left','none');
		        $(this).css('margin-left','26px');
		    });

		/*$('.survey_title_wrapper input').hover(
		    function(){
		        $(this).parent('div').css('border-left','solid 8px #FF3900');
		        $(this).css('margin-left','18px');
		    }, function(){
		        $(this).parent('div').css('border-left','none');
		        $(this).css('margin-left','26px');
		    });*/

		    

		//객관식 <> 주관식 <> 중복객관식(요거는 객관식과 동일 처리하되, 설문참여시 차별을 두도록) <> 범위
		
		$(document).on("change", 'select', function()
		{
		     var valueSelected  = $(this).val();
		     if(valueSelected=="essay"){
		     	$(this).parents('tr').nextAll(".option").remove();
		     	$(this).parents('tr').next().remove();
		     	var essay = "<tr class='essay'><td><input type='text' value='답변'></td></tr>";
		     	$(this).parents("tr").after(essay);

		     }
		     else if(valueSelected=='choice' || valueSelected=='multiple_choice'){
		     	$(this).parents('tr').next(".essay").remove();
		     	$(this).parents('tr').nextAll(".option").remove();
		     	if($(this).parents('tr').next().find("input").length==0)
		     		$(this).parents('tr').next().remove();
		     		
		     	var choice = "<tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr><tr>	<td></td><td><a class='option_addition'>옵션추가</a></td></tr>";
		     	$(this).parents("tr").after(choice);
		     }
 		});	

		//옵션추가
 		$(document).on("click", '.option_addition', function(){
			var option = "<tr class='option'><td></td><td><input placeholder='옵션' type='text'></td></tr>";
			$(this).parents('tr').prev().after(option);
		});
	});

	</script>
</head>
<body>
	<div class="create_wrapper">
		<!--설문 하나 세트-->
		<form>
			<div id="ques">
				<div class="survey_title_wrapper">
					<input type ="text" class="survey_title" placeholder="설문제목을 입력하세요(텍스트입력)">
				</div>
				<div class="survey_subtitle_wrapper">
					<input type ="text" class="survey_subtitle" placeholder="설문지 설명">
				</div>
				<!--질문 1세트-->
				<table class="question">
					<tbody>
						<tr class="question_title">
							<td>질문 제목</td>
							<td><input type="text"></td>
						</tr>
						<tr class="question_subtitle">
							<td>도움말 텍스트</td>
							<td><input type="text"></td>
						</tr>
						<tr class="select">
							<td>질문 유형</td>
							<td><select>
								<option value="choice">객관식 질문</option>
								<option value="multiple_choice">객관식 질문(중복 응답)</option>
								<option value="essay">주관식 질문</option>
							</select></td>
						</tr>
						<tr class="option">
							<td></td>
							<td><input placeholder="옵션" type="text"></td>
						</tr>
						<tr>
							<td></td>
							<td><a class="option_addition">옵션추가</a></td>	
						</tr>
						<tr>
							<td><input class="submit" type="button" value="완료"></td>
						</tr>
					</tbody>
				</table>

				<!--
				<div class="question">
					<div><span>질문 제목</span><input type ="text">
					</div><br>
					<div><span>도움말 텍스트</span><textarea rows="1" col="10"></textarea></div><br>
					<span>질문 유형</span><select class="select"><option value="choice">객관식 질문</option><option value="essay">주관식 질문</option>
					<option value="multiple_choice">객관식 (중복응답)</option>
					<option value="range">점수 범위 선택</option></select>
					<div class="choice">
						<input type = "text" placeholder="옵션">
						<a><div class="option_addition">옵션추가
						</div></a>
					</div>
				</div>-->
			</div>
			<a><div class="addition">항목 추가</div></a>
			<a><div class="complete">설문지 완성</div></a>
		</form>
	</div>
		

</body>
</html>
