<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='../static/css/common.css'>
	<link rel='stylesheet' type='text/css'  href='../static/css/top.css'>
</head>
<body>
	<div id="after_submit">
		<div class="close"></div>
		<div class="after_submit_content">
		성실한 답변 감사합니다.<br>
		설문결과를 확인하시겠습니까?
		</div>
		<div class="after_submit_button">
			네, 지금 확인하고 싶어요
		</div>
	</div>

	<div id="request-survey">
		<div class="close">
		</div>
		설문에 참여하셔야 좋아요를 누르실 수 있습니다.<br>본 설문에 참여하시겠습니까?
		<div class="button">설문 참여하기</div>
	</div>

	<div id="send-mail">
		<div class="close">
		</div>
		<div class="after-mail-content">임시 비밀번호가 전송되었습니다.<br>메일을 확인해주세요.</div>
		<div class="after-mail-button">다시 로그인 하러가기</div>
	</div>

	<div id="join-success">
		<span style="color:#FF3900; font-size:40px;">Ques</span><br>큐스에 가입해주셔서 감사합니다!<br><br>회원가입 기념으로 <span style="color:#FF3900">300Q</span>를 드립니다.<br>Q는 설문을 만드는데 이용되고<br>다른 설문에 참여하시면 Q를 획득하실 수 있습니다.
		<div class="ques-start">큐스 시작하기</div>
	</div>

	<div id="que-lack">
		<div class="close">
		</div>
		설문을 등록하기 위해서는 100Q가 필요합니다.<br>Q는 다른 설문에 참여하시면<br>획들하실 수 있습니다.
		<div class="survey-start">설문 참여하기</div>
	</div>

	<div id="after-request">
	<div class="close">
		</div>
		문의사항이 접수되었습니다.<br>24시간 이내로 답장 드리겠습니다.<br>감사합니다.
	</div>

	<!--요거는 아마 아카이브-->
	<div id="delete-survey">
	본 설문을 정말<br>삭제하시겠습니까?<br><br>
	<div class="button">아니오</div><div class="button">예</div>
	</div>

	<div id="download-data">
	<span>설어어어어운 제목</span><br>설문의 데이터를 다운로드 하시겠습니까?
	<div class="button">아니오</div><div class="download-button">예</div>
	</div>

	<div id="copy-url">
		URL 주소가 복사되었습니다.
	</div>
	<!--메인 페이지에서 보여줄 팝업이기에 css는 top.css-->
</body>
</html>
