<!DOCTYPE html>
<html>
<head>
	<title>큐스 | 당신의 모든 설문조사</title>
	<meta charset="UTF-8">
	
	<link href="../static/css/common.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">

	<script src='../static/js/jquery-1.9.1.min.js'></script>
	<script src="../static/js/fb.js"></script>
	<script src="../static/js/common.js"></script>

</head>

<body>
	<div id="wrapper">
		<div class="content">
			<span class="intro-ques">Ques</span>
			<span class="intro-msg">설문 할 일 있어요?</span><br><br>
			<span class="intro-msg">친구한테 부탁하지 마세요!<br>큐스에서 공유하세요!</span><br><br>
			<span class="login">이미 큐스 회원이신가요?&nbsp;&nbsp;<a id="login-btn" onclick="login()">로그인</a><br><br></span>
		</div>
		<div class="fb-login" onclick="fb_login();">
			<div class="fb-logo"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_fb-be965df1261cacccc62891c1759f853a.png"></div>
			<div class="fb-text">페이스북으로 1초만에 가입</div>
		</div>
		<div class="email-login" onclick="document.location.href='/join';">
			<div class="email-logo"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_email-0599493e255987e3bbac2b3fe8fbc6a4.png"></div>
			<div class="email-text">이메일로 가입하기</div>
		</div>
	</div>

	<div id="login-wrapper">
		<div class="login-wrapper-top">로그인</div>
		<form action="/login" method="post" class="new_user" id="new_user">
			<input type="text" id="user_email" name="email" placeholder="이메일">
			<input id="user_password" type="password" name="password" placeholder="비밀번호">
			<input type="submit" value="로그인" id="submit_join" class="btn_login">
		</form>
		<span>비밀번호 찾기/회원 가입하기</span>
	</div>
	<div id="fb-wrapper">
		<span>이미 페이스북으로 가입하셨다면</span>
		<div class="fb-login" onclick="fb_login();">
			<div class="fb-logo"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_fb-be965df1261cacccc62891c1759f853a.png"></div>
			<div class="fb-text">페이스북으로 로그인</div>
		</div>
	</div>
	<!--
	<div id="contents">
		<div class="bg"></div>
		<div class="bg-alpha"></div>
		<div class="content" style="background-image: url({{url_for('static', filename='img/intro_bg.jpg')}}); background-size:100%">
			<div class="bg-alpha inner"></div>
			<div class="content-wrapper">
			
	          <span class="logo-text">큐스</span><br><br>
	          <span class="intro-msg">설문 할 일 있어요?</span><br><br>
	          <span class="intro-msg">친구한테 부탁하지 마세요!<br>큐스에서 공유하세요.</span><br><br>
	          {% if error_msg %}
	          <span class="error"><b>{{error_msg}}</b><br><br></span>
	          {% else %}

	          <span class="login">이미 큐스 회원이신가요?&nbsp;&nbsp;<a id="login_btn" onclick="login()">로그인</a><br><br></span>
	          {% endif %}

	          <div class="login_box" style="margin-bottom:12px;">
	          <div class="content_ham no_top_radius">
                        <form accept-charset="UTF-8" action="/login" class="new_user" id="new_user" method="post">
                            <div class="input_form">
                                <div class="box_wrapper first">
                                    <input autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" class="joinbox email" id="user_email" name="email" placeholder="이메일 주소" size="30" type="email">
                                </div>
                                <div class="box_wrapper last">
                                    <input autocapitalize="off" autocomplete="off" autocorrect="off" class="joinbox password" id="user_password" name="password" placeholder="비밀번호 (6자 이상)" size="30" type="password">                  
                                </div>                      
                            </div>

                            <input type="submit" id="submit_join" class="btn_login" value="로그인">
                                
                            </input>
                        </form>
                    </div>
                
                </div>
                {% if error_msg %}
                	<script>login()</script>
                {% endif %}
	          <div class="buttons-wrapper">
	            <div class="fb-join" onclick="fb_login();">
	              <a href="javascript:void(0);return false;">
	                <div class="fb-join-image"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_fb-be965df1261cacccc62891c1759f853a.png"></div>
	                <div class="fb-join-text">페이스북으로 1초만에 가입</div>
	              </a>
	            </div>
	            <br>
	            <div class="mail-join" onclick="document.location.href='/join';">
	              <a href="javascript:void(0);return false;">
	                <div class="mail-join-image"><img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_btn_email-0599493e255987e3bbac2b3fe8fbc6a4.png"></div>
	                <div class="mail-join-text">이메일로 10초만에 가입</div>
	              </a>
	            </div>
	          </div>
        </div>
		</div>
		<div class="left-bottom">
	        <a href="http://frograms.com" target="_blank" class="frograms"><img src="{{url_for('static',filename='img/QUES_txt.png')}}" style="width:100px; margin-bottom:-10px"></a>
	        <img src="https://d12hfz37g51hrt.cloudfront.net/assets/intro/intro_icon_star-3a0a4994cdd77d92aa83afae0ae9bbeb.png"><span class="rating-count">0개의 설문이 있습니다.</span>
      	</div>

	</div>

-->
</body>

</html>
