<!DOCTYPE html>
<html lang="ko">
<head>
	<title>QUES</title>
	<meta charset ='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css'  href='../static/css/common.css'>
	<link rel='stylesheet' type='text/css'  href='../static/css/survey.css'>
	<script src='../static/js/jquery-1.9.1.min.js'></script>
	<script type="text/javascript">

	$(document).ready(function(){
	    $("input:radio:checked").data("chk",true);
	    $("input:radio").click(function(){
	        $("input[name='"+$(this).attr("name")+"']:radio").not(this).removeData("chk");
	        $(this).data("chk",!$(this).data("chk"));
	        $(this).prop("checked",$(this).data("chk"));
	    });

	    $('.overlay').click(function(){
	    	$(this).toggle();
	    })
		$(document).on("click", '.share_x_btn',function(){
			$('.overlay').toggle();
			$('.share_x_btn').remove();
		});
	});
		
	</script>
</head>
<body>
	<div class="overlay">
		<!--<div id="after_submit">
			<div class="close"></div>
			<div class="after_submit_content">
			성실한 답변 감사합니다.<br>
			설문결과를 확인하시겠습니까?
			</div>
			<div class="after_submit_button">
				네, 지금 확인하고 싶어요
			</div>
		</div>-->
	</div>
	<form id="view_wrapper" method="post">
		<div class="survey_title_wrapper">
		{{ survey.title }}
			<!--설문 제목 불러오기-->
		</div>
		<div class="survey_subtitle_wrapper">
				{{ survey.subtitle}}
				<!--설명불러왓!-->
		</div>
		<!--객관식-->
		{% for each_question in question_list %}
		<div class="question">
			<h2>{{each_question.title}}</h2>
			<h3>{{each_question.subtitle}}</h3>
			<table>
				<tbody>
					{% if each_question.type == 'essay' %}
						<tr>
							<tr><td><input type="text" name="{{ each_question.id }}"></td></tr>
						</tr>
					{% else %}
						{% for each_option in each_question.option_list %}
							{% if each_question.type == 'choice' %}
							<tr>
								<td><input type="radio" name="{{ each_question.id }}" value="{{ each_option.content }}"></td>
								<td>{{ each_option.content }}</td>
							</tr>
							{% elif each_question.type == 'multiple_choice' %}
							<tr>
								<td><input type="checkbox" name="{{ each_question.id }}" value="{{ each_option.content }}"></td>
								<td>{{ each_option.content }}</td>
							</tr>
							{% endif %}
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
		{% endfor %}


		<div class="complete_wrapper"><input class="complete" type="submit" value="설문 보내기"></div>
	</form>

</body>
</html>
